<template>
    <div>
        <form action="">
            <!--Label:Date , Attributes:date -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.date }">
                <label for="date" class="control-label">Date</label>
                <div>
                    <input id="date" type="date" class="form-control" name="date" v-model="date">
                    <span class="help-block" v-if="errors.date">
                            <strong>{{ errors.date.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Member Name , Attributes:memberName -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.memberName }">
                <label for="memberName" class="control-label">Member Name</label>
                <div>
                    <select name="memberName" id="memberName" class="form-control" v-model="selected">
                        <option v-for="member in members" :value="member.id">{{ member.name}}</option>
                    </select>
                    <!--<input id="memberName" type="text" class="form-control" name="memberName" v-model="memberName">-->
                    <span class="help-block" v-if="errors.memberName">
                            <strong>{{ errors.memberName.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Tithe , Attributes:tithe -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.tithe }">
                <label for="tithe" class="control-label">Tithe</label>
                <div>
                    <input id="tithe" type="text" class="form-control" name="tithe" v-model="tithe">
                    <span class="help-block" v-if="errors.tithe">
                            <strong>{{ errors.tithe.toString() }}</strong>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light" @click.prevent="saveTithe">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Tithe
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "tithe",
        props: ['members'],
        data() {
            return {
                date: '',
                memberName: '',
                tithe: '',
                errors: '',
                selected: '',
                saving: false
            }
        },
        methods: {
            saveTithe() {
                let scope = this;
                scope.saving = true;
                axios.post('/admin/tithe', {
                    'date': this.date,
                    'memberName': this.selected,
                    'tithe': this.tithe,
                }).then(function (response) {
                    scope.saving = false;
                    scope.errors = '';
                    scope.date = '';
                    scope.memberName = '';
                    scope.tithe = '';
                    scope.selected = '';
                }).catch(function (error) {
                    scope.errors = error.response.data.errors;
                    scope.saving = false;
                });
            }
        }
    }
</script>
<style scoped>

</style>