<template>

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Pledge</th>
                <th>Paid</th>
                <th>Balance</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="payment in payments" :key="payment.id">
                <td>{{ payment.member.name}}</td>
                <td>{{ payment.updated_at}}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.payments | sumit}}</td>
                <td>{{ getBalance(payment.payments,payment.amount)}}</td>
                <td>
                    <button type="button" class="btn btn-success waves-effect waves-light" @click.prevent="showmodal(
                    payment.member.name,payment.id,projectid
                    )">
                       <span class="btn-label">
                        <i class="fa fa-money" :class="{ 'fa-spin fa-spinner': saving }"></i></span> Pay
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ member}}</h4>
                                </div>
                                <div class="modal-body">
                                    <!--Label: Amount Paid, Attributes: amount-->
                                    <div class="form-group ">
                                        <label for="amount" class=" col-form-label">Amount Paid</label>
                                        <div>
                                            <input type="text" class="form-control" id="amount"
                                                   v-model="amount"
                                                   name="amount"
                                                   :class="{ 'is-invalid' : errors.amount }" autocomplete="off">
                                            <div class="invalid-feedback" v-if="errors.amount">
                                                <strong>{{ errors.amount.toString() }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="savePledge">Pay Pledge
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
        name: "allpledges",
        props: ['contribution','projectid'],
        mounted: function () {
            let scope = this;
            let member = new Object({
                name: ''
            });
            Bus.$on('pledgeadded', function (item) {
                console.log(item);
                scope.payments.unshift({
                    member: new Object({
                        'name': item.member.name
                    }),
                    ["name"]: item.amount,
                    'updated_at': item.updated_at,
                    'amount': item.amount,
                    'id': item.id,
                });
            })
        },
        filters: {
            sumit: function (value) {
                return _.sumBy(value, function(o) { return o.amount; });
            }
        },
        data() {
            return {
                payments: this.contribution,
                saving: false,
                errors: '',
                amount: '',
                member: '',
                id: '',
                project: '',
            }
        },
        methods: {
            showmodal(name, id, project) {
                console.log(name, id, project);
                $('#myModal').modal('show');
                this.member = name;
                this.project = project;
                this.id = id;
            },
            getBalance(payment,amount) {
                let paid = _.sumBy(payment, function(o) { return o.amount; });
                let al = (Number(amount) - Number(paid));
                return al;

            },
            savePledge() {
                axios.post('/admin/projectpledgepayment', this.$data).then(resp => {
                    $('#myModal').modal('hide');
                    this.member = '';
                    this.project = '';
                    this.id = '';
                    // You have saved a pledge.
                    // compute the remainiing balance
                }).catch(err => {

                });
            }
        },
    }
</script>

<style scoped>

</style>