<template>
    <div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Budget</th>
                    <th>Contributed</th>
                    <th>Contributed</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(project,index) in projects" :key="project.id">
                    <td>
                        <a :href="url + project.id">{{ project.projectName}}</a>
                    </td>
                    <td>{{ project.startDate}}</td>
                    <td>{{ project.endDate}}</td>
                    <td>{{ project.budget}}</td>
                    <td></td>
                    <td>
                        <a class="btn btn-danger waves-effect waves-light"
                           @click.prevent="deleteProject(project,index)">
                            <i class="fa fa-trash" :class="{ 'fa-spin fa-spinner': saving }"></i>
                        </a>
                        <a class="btn btn-warning waves-effect waves-light" @click.prevent="deleteProject">
                            <i class="fa fa-pencil" :class="{ 'fa-spin fa-spinner': saving }"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    export default {
        name: "index",
        props: ['assignment'],
        created() {
            let scope = this;
            Bus.$on('projectSaved', function (item) {
                scope.projects.push({
                    id: item.id,
                    projectName: item.projectName,
                    startDate: item.startDate,
                    endDate: item.endDate,
                    budget: item.budget,
                });
            });
        },
        data() {
            return {
                projects: this.assignment,
                saving: false,
                url: '/admin/projects/'
            }
        },
        methods: {
            deleteProject(project, index) {
                let some = this;
                some.saving = true;
                axios.delete('/admin/projects/' + project.id).then(function (response) {
                    some.projects.splice(index, 1);
                    some.saving = false;
                }).catch(function (error) {
                    some.saving = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>