<template>
    <div class="hero">
        <form action="">
            <!--Label:Member Name , Attributes:memberid -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.memberid }">
                <label for="selected" class="control-label">Member Name</label>
                <div>
                    <select name="selected" id="selected" class="form-control" v-model="selected">
                        <option v-for="(member,index) in memberid" v-bind:value="member.id">{{ member.name }}</option>
                    </select>
                    <span class="help-block" v-if="errors.memberid">
                        <strong>{{ errors.memberid.toString() }}</strong>
                </span>
                </div>
            </div>
            <input type="hidden" name="project_id" id="project_id" :value="projectid">
            <!--Label:Amount , Attributes:amount -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.amount }">
                <label for="amount" class="control-label">Amount</label>
                <div>
                    <input id="amount" type="text" class="form-control" name="amount" v-model="amount">
                    <span class="help-block" v-if="errors.amount">
                        <strong>{{ errors.amount.toString() }}</strong>
                </span>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light" @click.prevent="savePledge">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Pledge
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "pledge",
        props: ['projectid', 'members'],
        data() {
            return {
                memberid: this.members,
                amount: '',
                selected: '',
                errors: '',
                saving: false
            };
        },
        methods: {
            savePledge() {
                let scope = this;
                scope.saving = true;
                axios.post('/admin/pledges', {
                    memberid: this.selected,
                    amount: this.amount,
                    projectid: this.projectid
                }).then(function (response) {
                    scope.saving = false;
                    scope.amount = '';
                    scope.errors = '';
                    Bus.$emit('pledgeadded', response.data)
                }).catch(function (error) {
                    scope.saving = false;
                    scope.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>
    .hero {
        background-color: #DFDBE5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
</style>