<template>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Projects</h3>
                <div class="text-right"><span class="text-muted">Active Projects</span>
                    <h1><sup><i class="ti-arrow-up text-success"></i></sup>{{ stats['projects']}} </h1>
                </div>
                <span class="text-success">20% Complete</span>
                <div class="progress m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:20%;"><span
                            class="sr-only">20% Complete</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Members</h3>
                <div class="text-right"><span class="text-muted">Total Members</span>
                    <h1><sup><i class="ti-arrow-up text-success"></i></sup>{{ stats['members']}} </h1>
                </div>
                <span class="text-success">100% Complete</span>
                <div class="progress m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%;"><span
                            class="sr-only">100% Complete</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Groups</h3>
                <div class="text-right"><span class="text-muted">Total Groups</span>
                    <h1><sup><i class="ti-arrow-up text-success"></i></sup>{{ stats['groups']}} </h1>
                </div>
                <span class="text-success">{{ stats['groups']}} </span>
                <div class="progress m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%;"><span
                            class="sr-only">100% Complete</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Contributions</h3>
                <div class="text-right"><span class="text-muted">Total Contributions</span>
                    <h1><sup><i class="ti-arrow-up text-success"></i></sup>{{ stats['contribution'].toLocaleString('de-DE')}} </h1>
                </div>
                <span class="text-success">{{ stats['contribution'].toLocaleString('de-DE')}} </span>
                <div class="progress m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%;"><span
                            class="sr-only">100% Complete</span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "dashboard",
        mounted() {
            this.LoadStats();
            this.refreshStatsPeriodically();
        },
        data() {
            return {
                stats: {}
            }
        },
        methods: {
            LoadStats() {
                let scope = this;
                axios.get('/admin/stats/dashboard').then(function (response) {
                    scope.stats = response.data;
                }).catch();
            },
            LoadMembers() {

            },
            /*
            * Refresh Stats periodically
             */
            refreshStatsPeriodically() {
                this.interval = setInterval(() => {
                    this.LoadStats();
                }, 5000);
            },
        }
    }
</script>

<style scoped>

</style>