<template>
    <div>
        <form action="">
            <!--Label:Name , Attributes:name -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.name }">
                <label for="name" class="control-label">Name</label>
                <div>
                    <input id="name" type="text" class="form-control" name="name" v-model="name">
                    <span class="help-block" v-if="errors.name">
                            <strong>{{ errors.name.toString() }}</strong>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light" @click.prevent="addGroup">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Add Group
                </button>

            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "add",
        data() {
            return {
                name: '',
                errors: '',
                saving: false
            }
        },
        methods: {
            addGroup() {
                let scope = this;
                scope.saving = true;
                axios.post('/admin/group', {
                    name: this.name
                }).then(function (response) {
                    scope.saving = false;
                    scope.name = '';
                    scope.errors = '';
                }).catch(function (error) {
                    scope.saving = false;
                    scope.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>

</style>