<template>
    <div>
        <form action="">
            <!--Label:Member Name , Attributes:memberid -->
            <div class="col-md-12 form-group" :class="{ 'has-error' : errors.member_id }">
                <label for="memberid" class="control-label">Member Name</label>
                <div>
                    <!--<input id="memberid" type="text" class="form-control" name="memberid" v-model="memberid">-->
                    <select name="memberid" id="memberid" class="form-control" v-model="selected">
                        <option :value="member.id" v-for="member in members">{{ member.name }}</option>
                    </select>
                    <span class="help-block" v-if="errors.member_id">
                          <strong>{{ errors.member_id.toString() }}</strong>
                  </span>
                </div>
            </div>
            <!--Label:Group , Attributes:group -->
            <div class="col-md-12 form-group" :class="{ 'has-error' : errors.group }">
                <label for="group" class="control-label">Group</label>
                <div>
                    <input disabled id="group" type="text" class="form-control" name="group" v-model="group">
                    <span class="help-block" v-if="errors.group">
                            <strong>{{ errors.group.toString() }}</strong>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light" @click.prevent="addGroupMember">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Add Member
                </button>

            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "addgroupmember",
        props: {
            members: '',
            lot: ''
        },
        data() {
            return {
                errors: '',
                saving: false,
                group: this.lot.name,
                memberid: this.members,
                selected: ''
            }
        },
        methods: {

            addGroupMember() {
                let scope = this;
                scope.saving = true;
                axios.post('/admin/group/addmember', {
                    group_id: this.lot.id,
                    member_id: this.selected,
                }).then(function (response) {
                    scope.saving = false;
                    scope.selected = '';
                    Bus.$emit('groupmemberadded', response.data)
                }).catch(function (error) {
                    scope.saving = false;
                    scope.errors = error.response.data.errors;
                });
            }
        }
    };
</script>

<style scoped>

</style>