<template>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Member Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(member,index) in mortals">
                <td>{{ member.name }}</td>
                <td>
                    <!--<button class="btn btn-danger waves-effect waves-light" >-->

                    <!--<i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>-->
                    <!--Delete Member-->
                    <!--</button>-->
                    <button class="btn btn-facebook waves-effect waves-light"
                            @click.prevent="deleteGroupMember(member,index)">
                        <i :class="{ 'fa fa-spin fa-spinner': saving, 'fa fa-trash': ! saving }"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        name: "members",
        props: ['people', 'group'],
        created() {
            let scope = this;
            Bus.$on('groupmemberadded', function (item) {
                scope.mortals.push({
                    name: item.name
                });
            });

        },
        data() {
            return {
                mortals: this.people,
                saving: false
            };
        },
        methods: {
            deleteGroupMember(member, item) {
                let span = this;
                span.saving = true;

                axios.post('/admin/group/deleteMember', {
                    group_id: this.group.id,
                    member_id: member.id
                }).then(function (response) {
                    span.saving = false;
                    span.mortals.splice(item, 1);
                }).catch(function (error) {
                    span.saving = false;

                });
            }
        }
    }
</script>

<style scoped>

</style>