.btn {

  font-family: 'Exo', sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 12px;
  padding: 15px 30px;
  border: none;
  text-transform: uppercase;
  border-radius: 0;
  &:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    opacity: 0.5;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(.36, .99, .47, 1.09);
    &:hover {
      width: 100%;
    }
  }

}