 <template>
    <form action="">
        <!--Label:Contribution Type , Attributes:contributionType -->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.contributionType }">
            <label for="contributionType" class="control-label">Contribution Type</label>
            <div>
                <input id="contributionType" type="text" class="form-control" name="contributionType"
                       v-model="contributionType">
                <span class="help-block" v-if="errors.contributionType">
                        <strong>{{ errors.contributionType.toString() }}</strong>
                </span>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-success waves-effect waves-light" @click.prevent="saveContributionType">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                Add Contribution Type
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "addcontributiontype",
        data() {
            return {
                contributionType: '',
                saving: false,
                errors: ''
            };
        },
        methods: {
            saveContributionType() {
                let span = this;
                span.saving = true;
                axios.post('/admin/contributiontype', {
                    contributionType: this.contributionType
                }).then(function (response) {
                    span.saving = false;
                    span.errors = '';
                    span.contributionType = '';
                    Bus.$emit('contributiontypedadded',response.data);
                }).catch(function (error) {
                    span.saving = false;
                    span.errors = error.response.data.errors;
                });

            }
        }
    }
</script>

<style scoped>

</style>