<template>
    <div>
        <form id="addmemberform" enctype="multipart/form-data">
            <!--Label: Title, Attributes: title-->
            <div class="form-group col-md-12">
                <label for="title" class="col-form-label">Title</label>
                <div>
                    <select class="form-control" id="title"
                            v-model="title"
                            name="title"
                            :class="{ 'is-invalid' : errors.title }" autocomplete="off">
                        <option>Dr.</option>
                        <option>Bishop</option>
                        <option>Reverend</option>
                        <option>Pastor</option>
                        <option>Ms.</option>
                        <option>Mrs.</option>
                        <option>Mr.</option>
                        <option>Col.</option>
                        <option>Hon.</option>
                        <option>Evangelist</option>
                        <option>Deacon</option>
                        <option>Master</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.title">
                        <strong>{{ errors.title.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label:Name , Attributes:name -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.name }">
                <label for="name" class="control-label">Name</label>
                <div>
                    <input id="name" type="text" class="form-control" name="name" v-model="name">
                    <span class="help-block" v-if="errors.name">
                            <strong>{{ errors.name.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Address , Attributes:address -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.address }">
                <label for="address" class="control-label">ID Number</label>
                <div>
                    <input id="address" type="text" class="form-control" name="address" v-model="address">
                    <span class="help-block" v-if="errors.address">
                            <strong>{{ errors.address.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Occupation , Attributes:occupation -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.occupation }">
                <label for="occupation" class="control-label">Occupation</label>
                <div>
                    <input id="occupation" type="text" class="form-control" name="occupation" v-model="occupation">
                    <span class="help-block" v-if="errors.occupation">
                            <strong>{{ errors.occupation.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Mobile Number , Attributes:mobileNumber -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.mobileNumber }">
                <label for="mobileNumber" class="control-label">Mobile Number</label>
                <div>
                    <input id="mobileNumber" type="text" class="form-control" name="mobileNumber"
                           v-model="mobileNumber">
                    <span class="help-block" v-if="errors.mobileNumber">
                            <strong>{{ errors.mobileNumber.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label:Year of Birth , Attributes:yearofbirth -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.yearofbirth }">
                <label for="yearofbirth" class="control-label">year Joined the church</label>
                <div>
                    <input id="yearofbirth" type="date" class="form-control" name="yearofbirth" v-model="yearofbirth">
                    <span class="help-block" v-if="errors.yearofbirth">
                            <strong>{{ errors.yearofbirth.toString() }}</strong>
                    </span>
                </div>
            </div>
            <!--Label: H.B.C, Attributes: hbc-->
            <div class="form-group col-md-6">
                <label for="hbc" class=" col-form-label">H.B.C</label>
                <div>
                    <select class="form-control" id="hbc"
                            v-model="hbc"
                            name="hbc"
                            :class="{ 'is-invalid' : errors.hbc }" autocomplete="off">
                        <option :value="mema.id" v-for="mema in hbcs">{{ mema.name}}</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.hbc">
                        <strong>{{ errors.hbc.toString() }}</strong>
                    </div>
                </div>
            </div>

            <!--Label: Photo, Attributes: photo-->
            <div class="form-group col-md-6">
                <label for="photo" class="col-form-label">Photo</label>
                <div>
                    <input type="file" class="form-control" id="photo"
                           @change="photochanged"
                           name="photo"
                           :class="{ 'is-invalid' : errors.photo }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.photo">
                        <strong>{{ errors.photo.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Groups, Attributes: groups-->
            <div class="form-group col-md-6">
                <label for="groups" class="col-form-label">Groups</label>
                <div>
                    <select class="form-control" id="groups"
                            v-model="groups"
                            name="groups"
                            :class="{ 'is-invalid' : errors.groups }" autocomplete="off">
                        <option value="sundayschool">Sunday School</option>
                        <option value="youth">Youth</option>
                        <option value="primeyouth">Prime Youth</option>
                        <option value="newfamily">Young Married</option>
                        <option value="oldfamily">Old family</option>
                        <option value="widowed">Widowed</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.groups">
                        <strong>{{ errors.groups.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label:Email , Attributes:email -->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.email }">
                <label for="email" class="control-label">Email</label>
                <div>
                    <input id="email" type="text" class="form-control" name="email" v-model="email">
                    <span class="help-block" v-if="errors.email">
                            <strong>{{ errors.email.toString() }}</strong>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-success waves-effect waves-light" @click.prevent="saveMember">
                    <span class="btn-label">
                        <i class="fa fa-save" :class="{ 'fa-spin fa-spinner': saving }"></i></span>
                    Add Member
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "addmember",
        props: ['hbcs'],
        data() {
            return {
                errors: '',
                name: '',
                address: '',
                occupation: '',
                mobileNumber: '',
                yearofbirth: '',
                hbc: '',
                photo: '',
                title: '',
                groups: '',
                email: '',
                saving: false
            }
        },
        methods: {
            saveMember() {
                let scope = this;
                scope.saving = true;
                let myform = document.getElementById('addmemberform');
                let formalldata = new FormData(myform);
                formalldata.append('photos', this.photo);
                const config = {
                    headers: {'content-type': 'multipart/form-data'}
                };
                axios.post('/admin/members', formalldata,config).then(function (response) {
                    scope.saving = false;
                    scope.name = '';
                    scope.address = '';
                    scope.occupation = '';
                    scope.mobileNumber = '';
                    scope.yearofbirth = '';
                    scope.email = '';
                    scope.errors = '';
                    console.log(response.data);
                    Bus.$emit('memberadded', response.data);

                }).catch(function (error) {
                    scope.saving = false;
                    scope.errors = error.response.data.errors;

                });
            },
            photochanged(e) {

                this.photo = e.target.files[0];
            },

        }
    }
</script>

<style scoped>

</style>