<template>
    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>ID Number</th>
                    <th>Occupation</th>
                    <th>D.O.B</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(member,index) in sectary">
                    <td><a :href="url + member.id">{{ member.name }}</a></td>
                    <td>{{ member.mobileNumber }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.occupation }}</td>
                    <td>{{ member.yearofbirth }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "view",
        props: ['members'],
        data() {
            return {
                sectary: this.members,
                url: '/admin/members/'
            };
        },
        mounted() {
            Bus.$on('memberadded',data=>{
                this.sectary.push(data);
            })
        }
    }
</script>

<style scoped>

</style>